<template>
	<div class="ci-brand">
		<img class="ci-brand__image" :src="publicPath + image" alt="Citrus">
	</div>
</template>

<script>
export default {
	props: {
		type: {
			type: String,
			default: 'citrus'
		}
	},

	computed: {
		image() {
			return this.type == 'citrus' ? 'images/brand-citrus.png' :
				this.type == 'suite' ? 'images/brand-citrus-suite.png' :
				this.type == 'squad' ? 'images/brand-citrus-squad.png' : null
		}
	}
}
</script>

<style lang="scss">
.ci-brand{
	&__image{
		width: 100%;
		max-width: 200px;
		height: auto
	}
}
</style>
