<template>
	<div class="ci-lemonade-hero"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<div class="ci-lemonade-hero__container">
			<img
				class="ci-lemonade-hero__brand ci-lemonade-hero__animate"
				alt="Citrus Lemonade"
				:src="publicPath + 'images/brand-lemonade.png'"
			>
			<ci-text class="ci-lemonade-hero__title ci-lemonade-hero__animate" type="jumbo" :dark="true">
        <span v-for="phrase in $t('lemonade.hero')">
          {{ phrase }}
        </span>
			</ci-text>
		</div>

		<img
			class="ci-lemonade-hero__background"
			:src="publicPath + 'images/bg-lemonade.png'"
		>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText
	},

	props: {
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-hero__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-hero{
	position: relative;
	overflow: hidden;
	text-align: center;
	padding-bottom: 200px;
	padding-top: 96px;
	transition: opacity .6s;
	z-index: 20;
	@include grid-container;
	&__background{
		min-width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform-origin: 50% 0%;
		transform: translateX(-50%) scale(.6);
		z-index: -1;
	}
	&__container{
		@include outer-container;
	}
	&__brand{
		width: 200px;
		margin: auto;
	}
	&__title{
		display: flex;
		flex-flow: column;
		align-items: center;
		white-space: nowrap;
		line-height: 120%;
		@include grid-column(6);
		span{
			position: relative;
			z-index: 10;
			&:before{
				content: "";
				position: absolute;
				left: -4px;
				right: -4px;
				bottom: 4px;
				height: 16px;
				background: $t-accent;
				z-index: -1;
			}
		}
	}
	
	@include grid-media($g-desktop-up){
		padding-top: 200px;
		padding-bottom: 300px;
		text-align: left;
		.ci-lemonade-hero{
			&__background{
				top: initial;
				bottom: 0;
				transform-origin: 50% 50%;
				transform: translateX(-50%);
			}
			&__container{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
			}
			&__brand{
				margin: initial;
				@include grid-column(3);
			}
			&__title{
				transform: translateY(-32px);
				align-items: flex-start;
				@include grid-column(6);
				span{
					&:before{
						bottom: 6px;
						height: 20px;
						left: -16px;
						right: -16px;
					}
				}
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
