<template>
	<div class="ci-lemonade-day"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<div class="ci-lemonade-day__container">
			<div class="ci-lemonade-day__body">
				<img class="ci-lemonade-day__brand ci-lemonade-day__animate" :src="publicPath + 'images/brand-lemonade-day.png'" alt="Lemonade Day">
				<div class="ci-lemonade-day__content">
					<ci-text class="ci-lemonade-day__title ci-lemonade-day__animate" :dark="true" type="jumbo">
						<span>{{ $t('lemonade.about') }}</span> Lemonade Day
					</ci-text>
					<ci-text
						class="ci-lemonade-day__text ci-lemonade-day__animate"
						v-html="content"
					/>
				</div>
			</div>
			<div class="ci-lemonade-day__background"
				:style="{ backgroundImage: `url(${background})` }"
			>
			</div>
		</div>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText
	},

	props: {
		background: {
			type: String,
			default: 'images/bg-lemonade-day.jpg'
		},
		content: {
			type: String,
			default: 'Nosso principal evento tem a missão de transmitir a mensagem da Experiência do Cliente para empresas que nutrem na essência o propósito de levar o melhor atendimento aos seus consumidores. Clientes estão o tempo inteiro se relacionando com marcas que oferecem seus produtos e serviços para o dia a dia. A Experiência do Cliente tem o objetivo de aprimorar cada vez mais esse relacionamento e proporcionar uma experiência única para cada pessoa.'
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-day__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-day{
	position: relative;
	transition: opacity .6s;
	z-index: 20;
	&__container{
		@include outer-container;
	}
	&__body{
		background: $t-accent;
		padding: 40px 0;
		text-align: center;
		@include grid-container;
		&:before{
			top: 100%;
			transform: translate(-50%, -50%);
		}
	}
	&__brand{
		width: 200px;
		margin: auto;
	}
	&__content{
		text-align: left;
	}
	&__background{
		height: 400px;
		background-size: cover;
		background-position: center;
		&:before{
			bottom: 100%;
			transform: translate(-50%, 50%);
		}
	}
	&__body,
	&__background{
		position: relative;
		&:before{
			content: "";
			display: block;
			position: absolute;
			width: 240px;
			height: 24px;
			left: 50%;
			background: $t-primary;
		}
	}
	&__title{
		text-align: center;
		margin-top: -24px;
		text-transform: uppercase;
		@include grid-column(6);
		span{
			font-weight: 300;
			display: block;
		}
	}
	&__text{
		color: #444;
		font-family: Montserrat;
		font-weight: 500;
		@include grid-column(6);
	}

	@include grid-media($g-desktop-up){
		.ci-lemonade-day{
			&__container{
			}
			&__brand{
				margin-top: 120px;
				@include grid-column(3);
			}
			&__content{
				padding: 120px 0;
				@include grid-column(4);
			}
			&__title{
				text-align: left;
				margin-top: 0;
				font-size: 52px;
			}
			&__body,
			&__background{
				&:before{
					width: 400px;
				}
			}
			&__body{
				border-radius: 0 24px 0 0;
				background: transparent;
				position: static;
				&:before{
					left: 25%;
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 60%;
					height: 100%;
					background: $t-accent;
					border-radius: 0 24px 0 0;
					z-index: -1;
				}
			}
			&__background{
				border-radius: 0 0 0 24px;
				position: absolute;
				top: 80px;
				right: 0;
				width: 40%;
				height: 100%;
				&:before{
					left: 50%;
				}
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
