<template>
	<div class="ci-lemonade-tour"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<div class="ci-lemonade-tour__container">
			<img
				class="ci-lemonade-tour__brand ci-lemonade-tour__animate"
				:src="publicPath + 'images/brand-lemonade-tour.png'"
				alt="Lemonade Tour"
			>
			<ci-text
				class="ci-lemonade-tour__text ci-lemonade-tour__animate"
				v-html="content"
			/>
		</div>
		<img
			class="ci-lemonade-tour__shape"
			:src="publicPath + 'images/shape-lemonade-tour.svg'"
		>
		<img
			class="ci-lemonade-tour__background"
			:src="publicPath + 'images/bg-lemonade-tour.png'"
			alt="Citrus Tour"
		>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText
	},
	props: {
		content: {
			type: String,
			default: 'Ipsum voluptates deserunt eveniet deserunt porro. Culpa nemo magnam deserunt corrupti ipsum Consectetur ullam consequuntur aliquam iure explicabo error, id. Rerum quasi commodi ipsum molestias sit voluptatem Veritatis officiis tenetur quia nemo ab. Veritatis id ullam laborum atque optio reprehenderit!'
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-tour__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-tour{
	padding: 40px 0;
	position: relative;
	transition: opacity .6s;
	z-index: 15;
	background: white;
	@include grid-container;
	&__container{
		@include outer-container;
	}
	&__brand{
		width: 200px;
		display: block;
		margin: 0 auto;
	}
	&__background{
		width: 100%;
		margin-top: -40px;
	}
	&__text{
		color: #444;
		font-family: Montserrat;
		font-weight: 500;
		margin-top: -24px;
		@include grid-column(6);
	}
	&__shape{
		display: none;
	}

	@include grid-media($g-desktop-up) {
		padding: 240px 0;
		margin-bottom: 120px;
		background: transparent;
		.ci-lemonade-tour{
			&__brand{
				@include grid-column(2);
				@include grid-push(5);
			}
			&__background{
				position: absolute;
				width: 50%;
				left: 50%;
				top: 50%;
				max-width: 1200px;
				z-index: -1;
				transform: translate(-100%, -50%);
			}
			&__text{
				margin-top: 60px;
				@include grid-column(4);
			}
			&__shape{
				display: block;
				position: absolute;
				min-width: 110%;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -2;
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
