<template>
	<div class="ci-lemonade">
		<ci-lemonade-hero
			:initialized="true"
		/>
		<ci-lemonade-about
			ref="about"
			:content="aboutContent"
			:initialized="initialized.includes('about')"
		/>
		<ci-lemonade-talk
			ref="talk"
			:content="talkContent"
			:initialized="initialized.includes('talk')"
		/>
		<ci-lemonade-day
			ref="day"
			:content="dayContent"
			:background="dayBackground"
			:initialized="initialized.includes('day')"
		/>
		<ci-lemonade-tour
			ref="tour"
			:content="tourContent"
			:initialized="initialized.includes('tour')"
		/>
		<ci-lemonade-journey
			ref="journey"
			:title="journeyTitle"
			:content="journeyContent"
			:initialized="initialized.includes('journey')"
			@contact="$emit('contact', $event)"
		/>
	</div>
</template>

<script>
import CILemonadeHero from '@/components/organisms/CILemonadeHero'
import CILemonadeAbout from '@/components/organisms/CILemonadeAbout'
import CILemonadeTalk from '@/components/organisms/CILemonadeTalk'
import CILemonadeDay from '@/components/organisms/CILemonadeDay'
import CILemonadeTour from '@/components/organisms/CILemonadeTour'
import CILemonadeJourney from '@/components/organisms/CILemonadeJourney'

export default {
	components: {
		'ci-lemonade-hero': CILemonadeHero,
		'ci-lemonade-about': CILemonadeAbout,
		'ci-lemonade-talk': CILemonadeTalk,
		'ci-lemonade-day': CILemonadeDay,
		'ci-lemonade-tour': CILemonadeTour,
		'ci-lemonade-journey': CILemonadeJourney,
	},

	props: {
		scroll: 0,
		aboutContent: undefined,
		talkContent: undefined,
		dayContent: undefined,
		dayBackground: undefined,
		tourContent: undefined,
		journeyTitle: undefined,
		journeyContent: undefined
	},

	data: () => ({
		initialized: []
	}),

	watch: {
		scroll(value) {
			for (let ref in this.$refs) {
				const component = this.$refs[ref],
					offsetTop = component.$el.offsetTop - window.innerHeight

				if (value > offsetTop && !this.initialized.includes(ref))
					this.initialized.push(ref)
			}
		}
	}
}
</script>

<style lang="scss">
.ci-lemonade{
	background: white;
	overflow: hidden;
}
</style>
