<template>
	<ci-lemonade
		:about-content="lemonade.content"
		:talk-content="lemonade.talk_content"
		:day-content="lemonade.day_content"
		:day-background="lemonade.day_background"
		:tour-content="lemonade.tour_content"
		:journey-title="lemonade.journey_title"
		:journey-content="lemonade.journey_content"
		v-bind="$attrs"
		@contact="onContact"
	/>
</template>

<script>
import CILemonade from '@/components/templates/CILemonade'
import { mapGetters } from 'vuex'

export default {
	components: {
		'ci-lemonade': CILemonade
	},

	computed: {
		...mapGetters({
			lemonade: 'page/getLemonade'
		})
	},

	methods: {
	  onContact(component) {
			component.state = 'sending'

			this.$store.dispatch('contact/sendLemonade', component.form)
				.then(message => {
          this.$store.dispatch('alert/add', {
            message: message,
						type: 'success'
          })

					// Redirect to success page
				  this.$router.push({ name: 'contato-lemonade-sucesso' })
				})
				.catch(message => {
          this.$store.dispatch('alert/add', {
            message: message,
						type: 'error'
          })

          // Reset component state
				  component.state = 'idle'
				})
		},
	}
}
</script>
