<template>
	<div class="ci-apps"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<img class="ci-apps__shape" :src="`${publicPath}images/shape-apps.svg`">

		<div class="ci-apps__container">
			<div class="ci-apps__content ci-apps__animate">
				<ci-text class="ci-apps__title" type="title">
					{{ title }}
				</ci-text>
				<ci-text class="ci-apps__text" type="body" v-html="content">
				</ci-text>
			</div>

			<ci-application
				class="ci-apps__application ci-apps__animate"
				v-for="(app, index) in apps"
				:key="index"
				:brands="app.brands"
				:content="app.content"
				:inline="index > 1"
			/>
		</div>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import CIApplication from '@/components/molecules/CIApplication'
import { TweenMax, Power2 } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText,
		'ci-application': CIApplication
	},

	props: {
		title: {
			type: String,
			default: 'Citrus Apps'
		},
		content: {
			type: String,
			default: 'Curabitur libero augue, convallis ac elit non, faucibus mollis nisi. Maecenas venenatis aliquam ipsum, sed interdum tellus fringilla eu. Cras gravida tempor euismod. Integer et condimentum ipsum, vel maximus urna.'
		},
		apps: {
			type: Array,
			default: () => ([
				{}, {}, {}, {}
			])
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	computed: {
		groups() {
			return this.chunk(this.apps, 2)
		}
	},
	
	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-apps__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .2)
		},

		chunk(array, size) {
			const chunked_arr = []

			// ES6 destructuring
			let copied = [...array] 

			// Round up to the nearest integer
			const numOfChild = Math.ceil(copied.length / size) 

			for (let i = 0; i < numOfChild; i++)
				chunked_arr.push(copied.splice(0, size))

			return chunked_arr
		}
	}
}
</script>

<style lang="scss">
.ci-apps{
	position: relative;
	z-index: 15;
	@include grid-container;
	&__container{
		transition: opacity .6s;
		@include outer-container;
	}
	&__content{
		margin-bottom: 24px;
		@include grid-column(6);
	}
	&__title{
		margin-bottom: 8px;
		color: $c-darkgray;
	}
	&__text{
	}
	&__application{
		background: white;
		border-radius: 8px;
		box-shadow: 0 8px 16px rgba(black, .06);
		padding: 24px;
		box-sizing: border-box;
		margin-bottom: 24px;
		@include grid-column(6);
	}
	&__shape{
		position: absolute;
		top: -300px;
		left: 50%;
		transform: translateX(-55%);
		z-index: -1;
	}

	@include grid-media($g-tablet-up) {
		.ci-apps{
			&__application{
				padding: 62px 48px;
				@include grid-column(6);
				&.is-inline{
					@include grid-column(12);
				}
			}
			&__shape{
				bottom: initial;
				top: -25%;
			}
			&__content{
				@include grid-column(12);
			}
		}
	}

	@include grid-media($g-desktop-up){
		.ci-apps{
			&__shape{
				top: -77%;
			}
			&__application{
				top: 0;
				transition: top .5s $easeInOutQuad;
				position: relative;
				@include grid-column(4);
				&.is-inline{
					@include grid-column(12);
				}
				&:hover{
					top: -8px;
				}
			}
			&__content{
				@include grid-column(4);
			}
		}
	}

	&.is-idle{
		.ci-apps{
			&__container{
				opacity: 0;
			}
		}
	}
}
</style>
