<template>
	<div class="ci-application"
		:class="{
			'is-inline': inline
		}"
	>
		<div class="ci-application__brands">
			<img class="ci-application__brand"
				v-for="(brand, index) in brands"
				:key="index"
				:src="brand"
			/>
		</div>

		<ci-text class="ci-application__content" type="small" v-html="content.replace(/\r?\n/g, '<br />')">
		</ci-text>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'

export default {
	components: {
		'ci-text': CIText
	},

	props: {
		brands: {
			type: Array,
			default: () => ([
				process.env.BASE_URL + 'images/typo-lemon-desk.png',
				process.env.BASE_URL + 'images/typo-lemon-desk.png'
			])
		},
		content: {
			type: String,
			default: 'Curabitur porttitor eros vel mauris vulputate fringilla. Maecenas posuere libero ac purus mattis, non vulputate leo dictum. Phasellus id quam molestie, mattis magna vel, porttitor eros.'
		},
		inline: {
			type: Boolean,
			default: false
		}
	}
}
</script>

<style lang="scss">
.ci-application{
	display: flex;
	flex-flow: column;
	&__brands{
		display: flex;
		flex-flow: column;
		align-items: flex-start;
	}
	&__brand{
		margin-bottom: 24px;
		max-width: 100%;
	}
	&__title{
		width: 148px;
		color: $c-darkgray;
	}
	&__content{
	}

	&.is-inline{
		.ci-application{
			&__brand{
				max-width: 200px;
			}
		}
	}

	@include grid-media($g-tablet-up) {
		&.is-inline{
			display: flex;
			align-items: center;
			flex-flow: row;
			.ci-application{
				&__brand{
					margin-bottom: 64px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				&__brands{
					margin-right: 24px;
				}
				&__content{
					flex: 1;
				}
			}
		}
	}
}
</style>
