<template>
	<div class="ci-lemonade-talk"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<img
			class="ci-lemonade-talk__background"
			:src="publicPath + 'images/bg-lemonade-talk.png'"
		>

		<div class="ci-lemonade-talk__container">
			<img
				class="ci-lemonade-talk__brand ci-lemonade-talk__animate"
				:src="publicPath + 'images/brand-lemonade-talk.png'"
				alt="Lemonade Talk"
			>

			<ci-text
				class="ci-lemonade-talk__text ci-lemonade-talk__animate"
				v-html="content"
			/>
			<div class="ci-lemonade-talk__brands ci-lemonade-talk__animate">
				<img :src="publicPath + 'images/brand-lemonade-talk-coffe.png'" alt="Lemonade Talk Coffe">
				<img :src="publicPath + 'images/brand-lemonade-talk-lunch.png'" alt="Lemonade Talk Lunch">
				<img :src="publicPath + 'images/brand-lemonade-talk-hour.png'" alt="Lemonade Talk Hour">
			</div>
		</div>

		<img
			class="ci-lemonade-talk__clover"
			:src="publicPath + 'images/shape-clover.png'"
			alt="Lemonade Talk"
		>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText
	},
	props: {
		content: {
			type: String,
			default: 'Adipisicing consectetur eos dolorum ullam nam Aperiam veniam ipsam facilis adipisci eius? Consequuntur sit totam expedita esse hic Delectus ab veritatis labore at ea Ducimus doloribus nam a voluptas necessitatibus'
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-talk__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-talk{
	background: white;
	position: relative;
	padding: 80px 0;
	clear: both;
	transition: opacity .6s;
	z-index: 10;
	@include grid-container;
	&__container{
		@include outer-container;
	}
	&__brand{
		display: block;
		width: 180px;
		margin: 0 auto 16px;
	}
	&__brands{
		text-align: center;
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 40px;
		@include grid-column(6);
		img{
			width: 25%;
		}
	}
	&__clover{
		position: absolute;
		display: none;
	}
	&__background{
		position: absolute;
		width: 376px;
		top: 0;
		left: 50%;
		transform: translateX(-60%);
		z-index: -1;
	}
	&__text{
		font-family: Montserrat;
		font-weight: 500;
		@include grid-column(6);
	}

	@include grid-media($g-desktop-up){
		margin-bottom: 120px;
		.ci-lemonade-talk{
			&__container{
				position: relative;
			}
			&__brand{
				position: absolute;
				width: 200px;
				left: 22%;
				transform: translateX(-50%);
			}
			&__text{
				font-size: 17px;
				@include grid-column(6);
				@include grid-push(4);
			}
			&__brands{
				@include grid-column(6);
				@include grid-push(4);
			}
			&__clover{
				display: block;
				position: absolute;
				top: 50%;
				left: 83%;
				width: 30%;
				transform: translateY(-50%);
			}
			&__background{
				left: 50%;
				width: 50%;
				max-width: 940px;
				top: 50%;
				transform: translate(-120%, -50%);
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
