<template>
	<div class="ci-lemonade-journey"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<ci-circle class="ci-lemonade-journey__circle" />
		<ci-leaf class="ci-lemonade-journey__leaf" theme="accent" />
		<div class="ci-lemonade-journey__container">
			<div class="ci-lemonade-journey__body">
				<ci-text class="ci-lemonade-journey__title ci-lemonade-journey__animate" type="jumbo">
					{{ title }}
				</ci-text>
				<ci-text
					class="ci-lemonade-journey__text ci-lemonade-journey__animate"
					v-html="content"
				/>
			</div>

			<ci-contact
				class="ci-lemonade-journey__contact ci-lemonade-journey__animate"
				@submit="$emit('contact', $event)"
			/>
		</div>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import CICircle from '@/components/atoms/CICircle'
import CILeaf from '@/components/atoms/CILeaf'
import CIContact from '@/components/molecules/CIContact'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText,
		'ci-circle': CICircle,
		'ci-leaf': CILeaf,
		'ci-contact': CIContact
	},

	props: {
		title: {
			type: String,
			default: 'Feel The Journey!'
		},
		content: {
			type: String,
			default: 'Ipsum est esse soluta facere maxime Eos laudantium vel aliquid maxime veritatis quidem! Maiores ratione numquam voluptatum placeat minus, maxime. Deserunt quisquam aliquid hic placeat autem Harum vel illum soluta?'
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-journey__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-journey{
	padding: 80px 0;
	background: white;
	position: relative;
	transition: opacity .6s;
	z-index: 10;
	@include grid-container;
	&__container{
		@include outer-container;
	}
	&__body{
		margin-bottom: 24px;
		@include grid-column(6);
	}
	&__text{
		color: #444;
	}
	&__title{
		margin-bottom: 16px;
		position: relative;
		text-align: center;
		&:before{
			content: "";
			position: absolute;
			bottom: 6px;
			height: 16px;
			background: #bfed32;
			left: 32px;
			right: 32px;
			z-index: -1;
		}
	}
	&__text{
		border-left: 4px solid $t-accent;
		padding-left: 24px;
	}
	&__circle{
		display: none;
	}
	&__leaf{
		display: none;
	}
	&__contact{
		@include grid-column(6);
	}

	@include grid-media($g-desktop-up){
		overflow: hidden;
		padding: 120px 0;
		.ci-lemonade-journey{
			&__body{
				@include grid-column(4);
				@include grid-push(1);
			}
			&__title{
				font-size: 70px;
				text-align: left;
				&:before{
					height: 28px;
					left: -24px;
					right: -24px;
					bottom: 10px;
				}
			}
			&__contact{
				@include grid-column(5);
				@include grid-push(1);
			}
			&__circle{
				display: block;
				position: absolute;
				top: 130%;
				left: 0;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
			&__leaf{
				display: block;
				position: absolute;
				top: 120%;
				left: 70%;
				transform: translate(-50%, -50%) scaleX(-1);
				z-index: -1;
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
