<template>
  <div id="app" class="ci-app">
		<transition name="loading">
			<ci-loading
				v-if="
					loadingState != 'hide' &&
					(
						$route.name == 'home' ||
						$route.name == 'seed' ||
						$route.name == 'lemonade'
					)
				"
				class="ci-app__loading"
				:state="loadingState"
			/>
		</transition>

		<ci-header
			v-if="initialized"
			class="ci-app__header"
			:navigation="menu"
			:selected="selected"
			:lang="lang"
			@update:lang="onLangChange"
			@update:selected="onNavigationChange"
			@menu="sidenav = true"
		/>

    <div class="ci-app__alerts">
      <transition name="alert">
        <ci-alert class="ci-app__alert" v-if="alert"
          :type="alert.type"
        >
          {{ alert.message }}
        </ci-alert>
      </transition>
    </div>

		<div class="ci-app__body">
			<transition name="router" mode="out-in">
				<router-view
					class="ci-app__view"
					v-if="initialized"
					:scroll="scroll"
					:selected="selected"
				/>
			</transition>

			<ci-footer class="ci-app__footer"
				v-if="initialized"
				:social="contact.social"
			/>
		</div>

		<ci-aside
			v-if="initialized"
			class="ci-app__aside"
			:class="{ 'is-active': sidenav }"
			:selected="selected"
			:navigation="menu"
			@update:selected="onNavigationChange"
			@close="onSidenavClose"
		/>

		<transition name="fade">
			<div class="ci-app__overlay"
				@click="sidenav = false"
				v-if="sidenav"
			>
			</div>
		</transition>
  </div>
</template>

<script>
import CIHeader from '@/components/organisms/CIHeader'
import CIFooter from '@/components/organisms/CIFooter'
import CIAside from '@/components/organisms/CIAside'
import CILanding from '@/components/pages/CILanding'
import CILoading from '@/components/molecules/CILoading'
import CIAlert from '@/components/atoms/CIAlert'
import { disableBodyScroll } from 'body-scroll-lock'
import { TweenMax, Power2 } from 'gsap/TweenMax'
import { mapGetters } from 'vuex'

export default {
	components: {
		'ci-header': CIHeader,
		'ci-footer': CIFooter,
		'ci-aside': CIAside,
		'ci-landing': CILanding,
		'ci-loading': CILoading,
    'ci-alert': CIAlert
	},

	computed: {
		...mapGetters({
			contact: 'page/getContact',
			menu: 'menu/getMenu',
      alert: 'alert/getCurrent',
			lang: 'getLang'
		})
	},

	data: () => ({
		initialized: false,
		selected: '#home',
		scroll: 0,
		sidenav: false,
		sections: [],
		scrollTimer: null,
		sending: false,
		loadingState: 'idle'
	}),

	watch: {
		initialized(value) {
			if (value)
				this.$nextTick(this.init)
		}
	},

	created() {
		// Fetch pages data
		Promise.all([
			this.$store.dispatch('page/fetch'),
			this.$store.dispatch('menu/fetch')
		])
			.then(([pages, menu]) => {
				// Show the page
				this.initialized = true

				// Populates sections data
				this.sections = menu.map(item => item.link)
				this.sections.push('#solutions')

				// Delay to loading exit
				setTimeout(() => {
					this.loadingState = 'done'

					setTimeout(() =>
						this.loadingState = 'hide'
					, 500)
				}, 100)
			})
	},

	mounted() {
		// Start loading
		this.loadingState = 'loading'
	},

	methods: {
		init() {
			// Listen to body's scroll
			this.$el.querySelector('.ci-app__body')
				.addEventListener('scroll', this.onScroll)

			// Prevent smartphone from sliding the entire viewport
			disableBodyScroll(this.$el.querySelector('.ci-app__body'))
		},

		validURL(str) {
			var pattern = new RegExp('^(https?:\\/\\/)?'+
				'((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+
				'((\\d{1,3}\\.){3}\\d{1,3}))'+
				'(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+
				'(\\?[;&a-z\\d%_.~+=-]*)?'+
				'(\\#[-a-z\\d_]*)?$','i')

			return !!pattern.test(str)
		},

		scrollToSection(section) {
			this.sidenav = false

			const scroll = (target) => {
				this.selected = section

				TweenMax.to(this.$el.querySelector('.ci-app__body'), 1, {
					scrollTop: target.offsetTop - 80,
					ease: Power2.easeOut,
				})
			}

			if (section.indexOf('#') != -1) { // If is an anchor
				let target = document.getElementById(section.replace('#', ''))
				if (target) return scroll(target)

				this.$router.push({ name: 'home' })

				setTimeout(() => {
					let target = document.getElementById(section.replace('#', ''))
					if (target) return scroll(target)
				}, 1000)

			} else if(this.validURL(section)) { // If is a link
				window.open(section, '_blank')

			}	else { // Otherwise try to find route
				this.$router.push(section)
			}
		},

		onNavigationChange(section) {
			this.scrollToSection(section)
		},

		onSidenavClose() {
			this.sidenav = false
		},

		onScroll(event) {
			clearTimeout(this.scrollTimer)

			this.scrollTimer = setTimeout(() => {
				// Update scroll
				this.scroll = event.target.scrollTop

				this.sections.forEach((section, index) => {
					let element = document.getElementById(section.replace('#', ''))

					if (element) {
						let offset = element.offsetTop,
							height = element.clientHeight,
							viewHeight = window.innerHeight / 2,
							scroll = this.scroll + viewHeight

						// if scrollTop is greater than section's offset
						// and less than the section's offset + height
						// this section must be activated
						if (scroll > offset && scroll < offset + height) {
							this.selected = section
						}
					}
				})
			}, 30)
		},

		onSocialClick(provider) {
			switch(provider) {
				case 'instagram':
					window.open('https://www.instagram.com/digivoxbr')
					break
				case 'linkedin':
					window.open('https://www.linkedin.com/company/digivoxbr')
					break
				case 'facebook':
					window.open('https://www.facebook.com/digivoxbr')
					break
				case 'twitter':
					window.open('https://twitter.com/digivoxbr')
					break
			}
		},

		onLangChange(lang) {
			switch(lang) {
				case 'en':
					window.location.href = process.env.EN_URL
					break
				case 'pt':
				default:
					window.location.href = process.env.PT_URL
					break
			}
		}
	}
}
</script>

<style lang="scss">
body, html{
	height: 100%;
	overflow: hidden;
}

.ci-app{
	display: flex;
	flex-flow: column;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&__loading{
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 500;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
	&__header{
		position: relative;
		z-index: 40;
		flex-shrink: 0;
	}
	&__body{
		flex: 1;
		overflow-y: scroll;
		overflow-x: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	&__aside{
		position: absolute;
		max-width: 100%;
		top: 0;
		right: -110%;
		bottom: 0;
		min-width: 280px;
		z-index: 40;
		transition: .5s $easeInOutQuad;
		&.is-active{
			right: 0;
		}
	}
	&__footer{
		flex: 1;
	}
	&__overlay{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#2B2D42, .4);
		z-index: 35;
	}
	&__alerts{
		position: absolute;
		top: 96px;
		right: 24px;
    left: 24px;
		z-index: 500;
	}

	@include grid-media($g-tablet-up) {
		.ci-app{
			&__alerts{
				left: initial;
				width: 400px;
			}
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: all .4s $easeInOutQuad;
}

.fade-enter,
.fade-leave-active{
	opacity: 0;
}
</style>
