<template>
	<footer class="ci-footer">
		<div class="ci-footer__container">
			<nav class="ci-footer__navigation">
				<ci-button-icon
					v-for="item in social"
					class="ci-footer__social"
					:name="item.icon"
					theme="accent"
					size="sm"
					@click="onSocialClick(item)"
				/>
			</nav>

      <ci-text class="ci-footer__copyright" v-html="$t('footer.group')" />
		</div>
	</footer>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import CIButtonIcon from '@/components/atoms/CIButtonIcon'

export default {
	components: {
		'ci-text': CIText,
		'ci-button-icon': CIButtonIcon
	},

	props: {
		social: {
			type: Array,
			default: () => ([
				{
					icon: 'fab fa-instagram',
					link: 'http://instagram.com'
				},
				{
					icon: 'fab fa-linkedin',
					link: 'http://linkedin.com'
				},
				{
					icon: 'fab fa-facebook-f',
					link: 'http://facebook.com'
				},
				{
					icon: 'fab fa-twitter',
					link: 'http://twitter.com'
				},
			])
		}
	},

	methods: {
		onSocialClick(item) {
			window.open(item.link, '_blank')
		}
	}
}
</script>

<style lang="scss">
.ci-footer{
	border-bottom: 5px solid $t-primary;
	background: #f6f5f8;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 32px 0;
	&__container{
		width: 100%;
		text-align: center;
		@include outer-container;
	}
	&__copyright{
		margin-top: 8px;
		.ci-text{
			display: inline;
		}
	}
	&__navigation{
	}
	&__social{
		margin: 0 4px;
		display: inline-flex;
	}

	@include grid-media($g-tablet-up) {
		padding: 0;
		.ci-footer{
			&__container{
				display: flex;
				align-items: center;
			}
			&__copyright{
				order: 1;
				text-align: left;
				margin-top: 0;
				@include grid-column(6);
			}
			&__navigation{
				order: 2;
				text-align: right;
				@include grid-column(6);
			}
		}
	}
}
</style>
