<template>
	<div class="ci-lemonade-about"
		:class="[
			{
				'is-idle': !initialized && !animated
			}
		]"
	>
		<ci-circle class="ci-lemonade-about__circle" />
		<div class="ci-lemonade-about__container">
			<img
				class="ci-lemonade-about__brand ci-lemonade-about__animate"
				:src="publicPath + 'images/brand-lemonade.png'"
			>

			<div class="ci-lemonade-about__card ci-lemonade-about__animate">
				<ci-text class="ci-lemonade-about__text ci-lemonade-about__animate" v-html="content" type="lead" />
			</div>
		</div>

		<img
			class="ci-lemonade-about__shape"
			:src="publicPath + 'images/shape-lemonade.svg'"
		>
	</div>
</template>

<script>
import CICircle from '@/components/atoms/CICircle'
import CIText from '@/components/atoms/CIText'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-circle': CICircle,
		'ci-text': CIText
	},

	props: {
		content: {
			type: String,
			default: 'Consectetur nesciunt dicta libero praesentium dolor Aut magnam cumque accusantium ut veniam possimus! Officia expedita repudiandae beatae illum enim Ipsa suscipit vitae beatae quidem illo pariatur quasi praesentium laboriosam! Perferendis in explicabo perspiciatis dignissimos veniam quidem. Explicabo error reprehenderit quam!'
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	mounted() {
		if (this.initialized)
			this.init()
	},

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-lemonade-about__animate'), 1.5, {
				x: "-=80",
				opacity: 0,
				ease: Power2.easeOut
			}, .4)
		},
	}
}
</script>

<style lang="scss">
.ci-lemonade-about{
	position: relative;
	padding: 40px 0 200px;
	transition: opacity .6s;
	z-index: 10;
	&__container{
		@include outer-container;
	}
	&__shape{
		position: absolute;
		min-width: 110%;
		left: 50%;
		bottom: 0px;
		transform: translateX(-50%);
		z-index: -2;
	}
	&__circle{
		position: absolute;
		opacity: .1;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1.4);
		margin-left: -600px;
		margin-top: -550px;
		z-index: -1;
	}
	&__card{
		position: relative;
		padding: 40px 30px;
		box-sizing: border-box;
		margin-bottom: 64px;
		@include grid-column(6);
		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: white;
			border-radius: 24px 0 24px 0;
			box-shadow: 8px 24px 40px rgba(black, .06);
			z-index: -1;
		}
		&:before{
			background: #c7d109;
			transform: translate(24px, -24px);
		}
	}
	&__brand{
		min-width: 180px;
		width: 30%;
		display: block;
		margin: 0 auto 24px;
		z-index: 20;
	}
	&__text{
		line-height: 160%;
		font-family: Montserrat;
		font-weight: 500;
	}

	@include grid-media($g-desktop-up) {
		padding: 140px 0 140px;
		.ci-lemonade-about{
			&__container{
				position: relative;
			}
			&__card{
				padding: 80px;
				@include grid-column(9);
				@include grid-push(1);
			}
			&__brand{
				position: absolute;
				width: 240px;
				top: 50%;
				transform: translate(24px, calc(-50% - 16px));
				@include grid-push(9);
			}
		}
	}

	// Idle
	&.is-idle{
		opacity: 0;
	}
}
</style>
