<template>
	<div class="ci-squad"
		:class="{
			'is-idle': !initialized && !animated
		}"
	>
		<div class="ci-squad__background">
			<img class="ci-squad__rear" :src="`${publicPath}images/shape-squad-rear.svg`" />
			<img class="ci-squad__front" :src="`${publicPath}images/shape-squad-front.svg`" />
		</div>

		<div class="ci-squad__container">
			<header class="ci-squad__header ci-squad__animate--horizontal">
				<ci-brand class="ci-squad__brand" type="squad" />
				<ci-text class="ci-squad__text" :dark="true" v-html="content">
				</ci-text>
			</header>

			<div class="ci-squad__body">
				<div
					class="ci-squad__features"
					v-for="(items, category) in features"
					:key="category"
				>
					<ci-text class="ci-squad__category ci-squad__animate--horizontal" :dark="true" type="subhead">
						{{ category }}
					</ci-text>

					<div class="ci-squad__items">
						<ci-feature
							class="ci-squad__feature ci-squad__animate--scale"
							v-for="(feature, index) in items"
							:key="`feature-${index}`"
							:image="feature.image"
							:label="feature.label"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="ci-squad__arrow">
			<span class="fas fa-angle-down"></span>
			<img :src="`${publicPath}images/shape-squad-arrow.svg`" />
		</div>
	</div>
</template>

<script>
import CIText from '@/components/atoms/CIText'
import CIBrand from '@/components/atoms/CIBrand'
import CIFeature from '@/components/molecules/CIFeature'
import { TweenMax, Power2, Elastic } from 'gsap/TweenMax'

export default {
	components: {
		'ci-text': CIText,
		'ci-brand': CIBrand,
		'ci-feature': CIFeature
	},

	props: {
		content: {
			type: String,
			default: 'Donec viverra volutpat congue. Sed lacinia, magna id pellentesque rutrum, neque nulla facilisis odio, nec tincidunt ipsum velit a nisl. Etiam eu tristique nunc. Integer placerat consequat accumsan.'
		},
		features: {
			type: Object,
			default: () => ({
				'Comunicação Unificada': [
					{}, {}, {},
				],
				'Colaboração': [
					{}, {}, {},
				]
			})
		},
		initialized: {
			type: Boolean,
			default: true
		}
	},

	data: () => ({
		animated: false
	}),

	watch: {
		initialized(value) {
			if (value && !this.animated)
				this.init()
		}
	},

	methods: {
		init() {
			this.animated = true

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-squad__animate--horizontal'), 1.5, {
				x: '-=80',
				opacity: 0,
				ease: Power2.easeOut,
			}, .3)

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-squad__animate--scale'), 1.5, {
				opacity: 0,
				ease: Power2.easeOut,
			}, .15)

			TweenMax.staggerFrom(this.$el.querySelectorAll('.ci-squad__animate--scale'), 1.5, {
				scale: .75,
				ease: Elastic.easeOut,
			}, .15)
		}
	}
}
</script>

<style lang="scss">
.ci-squad{
	padding: 40px 0;
	margin-bottom: 64px;
	position: relative;
	z-index: 10;
	@include grid-container;
	&__container{
		transition: opacity .6s;
		@include outer-container;
	}
	&__header{
		text-align: center;
		padding: 80px 24px 24px;
	}
	&__brand{
		width: 200px;
		margin: 0 auto 24px;
	}
	&__body{
	}
	&__features{
		text-align: center;
		@include grid-column(6);
	}
	&__category{
		margin: 32px 0;
	}
	&__items{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			left: 50%;
			top: 40px;
			bottom: 80px;
			width: 2px;
			background: #b9cf2f;
			z-index: -1;
		}
	}
	&__feature{
		margin-bottom: 64px;
		position: relative;
	}
	&__background{
		position: absolute;
		top: -200px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: -2;
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			bottom: 0;
			background: #aec70b;
			z-index: -1;
		}
	}
	&__rear,
	&__front{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	&__arrow{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -2px);
		span{
			color: white;
			position: absolute;
			left: 50%;
			top: -10px;
			font-size: 20px;
			margin-left: -8px;
			animation-name: arrow-down;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			transition: .2s $easeInOutQuad;
		}
	}

	@include grid-media($g-tablet-up) {
		padding: 80px 0;
		.ci-squad{
			&__header{
				text-align: left;
				display: flex;
				align-items: center;
				margin-bottom: 80px;
			}
			&__brand{
				width: 280px;
				margin-bottom: 0;
				margin-right: 48px;
				flex-shrink: 0;
			}
			&__content{
				flex: 1;
			}
			&__features{
				text-align: left;
				display: flex;
				margin-bottom: 32px;
			}
			&__category{
				width: 224px;
				height: 110px;
				display: flex;
				align-items: center;
				margin: 0;
				flex-shrink: 0;
			}
			&__items{
				display: flex;
				position: relative;
				flex: 1;
				&:before{
					content: "";
					position: absolute;
					left: 0px;
					right: 140px;
					top: 56px;
					bottom: initial;
					width: auto;
					height: 2px;
					background: #b9cf2f;
					transform-origin: 0 0;
					z-index: -1;
				}
			}
			&__feature{
				flex: 1;
				position: relative;
			}
		}
	}

	@include grid-media($g-tablet-up) {
		.ci-squad{
			&__rear,
			&__front{
				animation-name: wave;
				animation-iteration-count: infinite;
			}
			&__rear{
				animation-duration: 8s;
			}
			&__front{
				animation-duration: 10s;
			}
			&__brand{
				animation-name: brand;
				animation-iteration-count: infinite;
				animation-duration: 8s;
			}
		}

		@keyframes wave {
			0% {
				transform: translate(-50%, 0px);
			}
			50% {
				transform: translate(calc(-50% - 100px), 40px);
			}
			100% {
				transform: translate(-50%, 0px);
			}
		}

		@keyframes brand {
			0% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-10px);
			}
			100% {
				transform: translateY(0px);
			}
		}
	}

	@include grid-media($g-desktop-up) {
		padding: 80px 0;
	}

	@keyframes arrow-down {
		0% {
			transform: translateY(0px);
		}
		50% {
			transform: translateY(5px);
		}
		100% {
			transform: translateY(0px);
		}
	}

	&.is-idle{
		.ci-squad{
			&__container{
				opacity: 0;
			}
		}
	}
}
</style>
